* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    color: #91ee91;
    font-size: 18px;
    padding: 15px 40px 15px 40px;
    border: 1px solid black;
}

ul {
    display: flex;

}

header {
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: darkgreen;
}

.box {
    border: 2px solid green;
    padding: 40px;
    margin: 0px 24px 40px 24px;
    background-color: rgb(47, 73, 53);
    display: flex;
}

.box1,
.box2 {
    border: 2px solid #91ee91;
    width: 50%;
    height: 450px;
    margin: 0px 20px 0px 20px;
    background-color: rgb(139, 241, 130);
}

img {
    background-color: 2px solid gray;
    border-radius: 90px;
    position: fixed;
    top: 75%;
    left: 85%;
}

.txt {
    border: 2px solid darkolivegreen;
    border-radius: 80px;
    padding: 70px;
    background-color: aquamarine;
    font-size: 30px;
    color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    border: 2px solid rgb(4, 71, 7);
    background-color: #91ee91;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 19px;
    border-radius: 9px;
}
main {
    margin: 34px;
}